{% extends "base.html" %}



{% block content %}



<div
 class="bg-image"
 style="
  background-image: url('https://cdn.discordapp.com/attachments/989268285575008376/1084787250690277436/TBS_a_black_and_yellow_theme_terrain_landscape_8ce5007a-71c6-4123-8a73-ff33f448828a.png');
  height: 110vh;">

  <div class="container py-2 h-50" style=>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="{% static 'image/login2.png' %}" 
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 18cm;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form method="post">
                  {% csrf_token %}
                

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0"><img src="{% static 'image/navimage.png' %}" alt="Logo" class="d-inline-block align-text-top" style="width: 1.5cm; height: 1.5cm; border-radius: 50%;"><h3 style="color: rgb(7, 56, 7);">HopebridgeAfrica</h3></span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                
                    <div class="form-outline mb-4">
                        <input type="text" name="Username" maxlength="250" required="" id="id_username" class="form-control" placeholder="Username">
                        <label class="form-label" for="id_username">Username</label>
                    </div>
                
                    <div class="form-outline mb-4">
                        <input type="password" name="password" autocomplete="new-password" required="" id="id_password" class="form-control" placeholder="Password">
                        <label class="form-label" for="id_password">Password</label>
                    </div>
                
                    <div class="pt-1 mb-4">
                      <button class="btn btn-outline-success btn-lg btn-block" type="submit">Signin</button>
                    </div>
                
                    {% if message %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                
                
                       
            
                          <a class="small text-muted" href="{% url 'password_reset' %}">Forgot password?</a>
                          <p class="mb-5 pb-lg-2" style="color: #060607;">Don't have an account? <a href="{% url 'signup' %}"
                              style="color: #0b3d12;">Register here</a></p>
                          <a href="" class="small text-muted">Terms of use.</a>
                          <a href="" class="small text-muted">Privacy policy</a>

                    
                </form>
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
            

  

