{% extends 'base.html' %}



{% block content %}


<section class="categories" style="background-image: url('https://cdn.discordapp.com/attachments/989268285575008376/1084787250690277436/TBS_a_black_and_yellow_theme_terrain_landscape_8ce5007a-71c6-4123-8a73-ff33f448828a.png'); height: 100vh;">
  <div class="container">  
    <div class="row">
      {% for category in categories %}
      <div class="col-lg-4 col-md-6 mb-4 py-4" style="display: inline-block;">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="{{ category.image.url }}" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ category.type }}</h4>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a class="btn btn-outline-white text-success" href="{% url 'children_home_list' %}">View More Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  
</section>




  

{% endblock %}
