{% extends 'base.html' %}



{% load widget_tweaks %}



{% block content %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card" style="border: 2px solid rgb(6, 41, 14)">
          <div class="card-header" style="background-color: rgb(6, 41, 14);"><h1 style="text-align: center;color: aliceblue;">Add your Details</h1></div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="text-center">
                <button type="submit" class="btn btn-outline-success btn-lg">Create</button>
              </div>
              <style>
                label {
                  color: rgb(228, 117, 26);
                }
                
              </style>
            </form>
          </div>
          <style>
            .card {
            animation: pulse-border 2s infinite;
          }
          
          @keyframes pulse-border {
            0% {
              border-color: #031a05;
            }
            50% {
              border-color: #e68b02;
            }
            100% {
              border-color: #031a05;
            }
          }
          </style>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

